.tc {
    text-align: center;
}

.resume-component {
    margin-top: 50px;
    padding-top: 50px;
}

.resume-header {
    color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.resume-grid {
    display: grid;
    grid-template-rows: 400px 300px 400px;
    grid-template-columns: 1fr 100px 1fr;
    grid-template-areas: "education-1 map experience-1"
                         "education-2 map experience-2"
                         ".           map experience-3";
    grid-gap: 0px;
}

.line-graph {
    grid-area: map;
}

.education-1 {
    grid-area: education-1;
    height: 200px;
    margin-left: auto;
    margin-top: 40px;
}

.education-2 {
    grid-area: education-2;
    margin-top: 190px;
    margin-left: auto;
}

.experience-1 {
    grid-area: experience-1;
    margin-top: 180px;
}

.experience-2 {
    grid-area: experience-2;
    margin-top: 50px;
}

.experience-3 {
    grid-area: experience-3;
    margin-top: 70px;
}

@media screen and (max-width: 1000px) {
    .resume-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "education-1"
                             "education-2"
                             "experience-1"
                             "experience-2"
                             "experience-3";
    }
    .line-graph {
        display: none;
    }
    .education-1 {
        margin-top: 15px;
        margin-right: auto;
    }
    .education-2 {
        margin-top: 15px;
        margin-right: auto;
    }
    .experience-1 {
        margin-top: 15px;
    }
    .experience-2 {
        margin-top: 15px;
    }
    .experience-3 {
        margin-top: 15px;
    }
    .resume-header {
        font-size: 25px;
    }
}