.Projects-component {
    color: black;
}

.projects-header {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.projects-container {
    min-height: 400px;
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}